/*
----------------------------------------------------------------------------
Typography settings.
----------------------------------------------------------------------------
*/

:root {
  --hds-font-family: var(--font-family);
  --hds-font-family-title: var(--font-title);
  --hds-font-family-monospace: var(--font-family-monospace);

  --webui-font-size-body: var(--type-step-0);
  --webui-font-size-s: var(--type-step--1);
  --webui-font-size-h5: var(--type-step-1);
  --webui-font-size-h4: var(--type-step-2);
  --webui-font-size-h3: var(--type-step-3);
  --webui-font-size-h2: var(--type-step-4);
  --webui-font-size-h1: var(--type-step-5);

  /* Only adjust line-height when fonts get large */
  --webui-line-height: 1.5;
  --webui-line-height-h4: 1.3;
  --webui-line-height-h3: 1.3;
  --webui-line-height-h2: 1.2;
  --webui-line-height-h1: 1.2;
  --webui-line-height-xl: 1.2;

  /* Max line-length (aka measure) to improve readability of editorial content */
  --webui-type-max-line-length: 65ch;
}
